.vs/
ExamScoringApp/obj
packages/
obj/
ExamScoringApp/App_Start
ExamScoringApp/App_Data
ExamScoringApp/Controllers
ExamScoringApp/Helpers
ExamScoringApp/Models
ExamScoringApp/Properties
ExamScoringApp/ExamScoringApp.csproj
ExamScoringApp.sln
ExamScoringApp/ExamScoringApp.csproj.user
ExamScoringApp/Global.asax
ExamScoringApp/Global.asax.cs
.gitignore