
ul.cont {
	list-style: none;
	width: auto;
	height: 40px;
	background: #ececec;
	padding: 10px 3px 0px 12px;
	min-width: 400px;
	display: inline-block;
	border-radius: 9px;
	border: 1px solid #d0d0d0;
}

.cont:focus { outline: none; }{
}


.sorting{
  background : #dc7953;
}

.draggable{
	background: #1ab394;
	margin: 1px 4px 0px 0;
	padding: 5px 14px;
	border-radius: 7px;
	display: inline-block;
	color: white;
}
.dummy{
	    background: #1ab394;
	    margin: 1px 4px 0px 0;
	    padding: 5px 0px;
	    border-radius: 7px;
	    display: inline;
	    color: white;
	    height: 18px;
	    width: 383px;
}



.hidden{
	width: 1px;
	opacity: 0;
}

.dropzone-container{
}
.dropzone-container ul{
	min-width: 50px;
	width:auto;
	height:auto;
	background: #d0d0d0;
	display:inline-block;
	margin :5px 2px;
	padding:5px 10px;
	list-style: none;
	background: #ececec;
	min-width: 100px;
	display: inline-block;
	border-radius: 9px;
	border: 1px solid #d0d0d0;
}
.lemma{

}
.select-tag{
}
